$color-grey: rgb(192, 177, 177);
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-black-1: rgb(71, 57, 57);
$color-orange: #e48131;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// PROJECT BUTTON COLOR
$color-red-light: rgb(241, 83, 83);

// FONT
$default-font-size: 1.6rem;

// GRID ----- put 0 gutter mostly for the grid for the project
$grid-width: 114rem;
$gutter-vertical: 0rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 0rem;

// FONT
$default-font-size: 1.6rem;
