nav.black {
  background: #000;
}

.nav {
  position: fixed;
  width: 100%;
  transition: 1s;
  z-index: 99999;

  .black {
    background: #000;
  }

  &__logo {
    position: fixed;
    float: left;
    margin: 1.6rem 3.6rem;
    color: $color-white;
    font-weight: bold;
    font-size: 2.4rem;
  }

  &__menuicon {
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;

    @include respond(phone) {
      display: block;
      padding: 1.2rem 3rem;
      font-size: 2rem;
    }
  }

  &__menu {
    ul {
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: center;
      margin: 0;

      // TRYING TO FIGURE THIS SHIT OUT
      .showing {
        max-height: 35em;
      }

      li {
        display: inline-block;
        padding: 1.5rem 2rem;
        cursor: pointer;

        .navlinks {
          text-decoration: none;
          color: $color-white;
          font-size: 2rem;
        }

        .navlinks::after {
          content: '';
          display: block;
          width: 0;
          height: 0.2rem;
          background: $color-white;
          transition: width 0.3s;
        }

        .navlinks:hover {
          text-decoration: none;
          color: $color-white;
        }
        .navlinks:hover::after {
          width: 100%;
          transition: width 0.3s;
        }
      }
    }
  }
}
