.contactme {
  width: 70%;
  margin: 0 auto;
  padding: 3rem 2rem 2rem 2rem;
  background-color: rgba($color-white, 0.8);
  border-radius: 0.2rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  @include respond(tab-portrait) {
    width: 70%;
    margin: 0 auto;
  }

  @include respond(phone) {
    width: 95%;
    padding: 5rem 2rem 2em 2em;
  }

  .contactme__form {
    width: 100%;

    &--header {
      width: 100%;
      display: block;
      font-size: 3rem;
      color: #333333;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 2.5rem;
    }

    .half-width {
      width: calc((100% - 0.5rem) / 2);
      display: inline-block;

      @include respond(phone) {
        width: 100%;
      }
    }

    &__wrapper {
      width: 100%;
      position: relative;
      background-color: #fff;
      border: 1px solid #dbdbdb;
      border-radius: 2px;
      margin-bottom: 1rem;

      @include respond(phone) {
        margin-bottom: 1rem;
      }

      .contactme__input {
        display: block;
        width: 100%;
        color: $color-black;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;

        @include respond(phone) {
          font-size: 1.5rem;
        }
      }

      input.contactme__input {
        height: 4rem;
        padding: 0 1rem;

        @include respond(phone) {
          height: 6rem;
        }
      }

      textarea.contactme__input {
        height: 20rem;
        padding: 1.5rem 1rem;

        @include respond(phone) {
          height: 25rem;
        }
      }
    }

    &__button {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-top: 1rem;

      @include respond(phone) {
        margin-top: 1rem;
      }

      &--btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 3.5rem;
        background-color: $color-red-light;
        border: 2px solid $color-red-light;
        font-size: 1.5rem;
        color: #fff;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;

        @include respond(phone) {
          height: 5rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}

.contactme__social {
  margin-top: 5rem;

  &__container {
    background-color: rgb(202, 202, 189);
    height: 5rem;

    i {
      font-size: 3rem;
      color: $color-black;
    }
  }
}
